# Keep environment variables out of version control
.env
node_modules/

/src/generated/prisma

# logs
logs
*.log

# OS
.DS_Store

# IDE
.vscode
.idea

# Prisma
/src/generated/
/prisma/migrations/dev.db